form {
    width: 200px;
    margin: 20px auto;
}

input {
    width: 100%;
    padding: 10px;
}

.poke-card {
    position: relative;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 300px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: rgb(228, 24, 24);
    border: 1px solid black;
}

.poke-card::before {
    content: '';
    background: radial-gradient(rgb(85, 112, 210) 33%, transparent 33%);
    background-size: 3px 3px;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
    border: 1px solid black;
}

.img-container {
    position: relative;
    width: 180px;
    margin: 10px auto;
}

.poke-stats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}

.poke-types{
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 1px dashed rgb(71, 145, 210);
}

.poke-img {
    width: 180px;
    border-radius: 50%;
    background-size: 5px 5px;
    background: radial-gradient(rgb(255, 255, 255) 10%, transparent 60%, rgb(255, 0, 0) 50%);

}
.poke-img-back {
    width: 180px;
    border-radius: 50%;
    background-size: 5px 5px;
    background: radial-gradient(rgb(255, 255, 255) 10%, transparent 60%, rgb(255, 0, 0) 50%);
}

.btn-search {
    position: absolute;
    top:70%;
    right:70%;
    background-color:#0885eb;
    color: #fff;
    border:none;
    border-radius:10px;
  }

  .btn-search:hover {
    background-color:#002ead;
    transition: 0.7s;
}

.btn-clear {
    position: absolute;
    top:55%;
    right:59%;
    background-color:#0885eb;
    color: #fff;
    border:none;
    border-radius:10px;
  }

  .btn-clear:hover {
    background-color:#002ead;
    transition: 0.7s;
}